.plant-square {
border: ridge;
height: 7rem;
width: 7rem;
align-content: space-around;
background-image: url("https://i.imgur.com/wA0IkOX.jpg");
color: white;
background-position: center;
background-repeat: no-repeat;
background-size: cover;
}

.contains-plant{
    border-width: .5rem !important;
  }

.positive-plant{
    border-color: lightgreen !important;
    border-width: .5rem !important;
  }

  .negative-plant{
    border-color: red !important;
    border-width: .5rem !important;
  }

  